# SF Salaries Analysis
##### link data from kaggle: https://www.kaggle.com/kaggle/sf-salaries

In [1]:
# import pandas library
import pandas as pd

In [7]:
# read data as dataframe
df = pd.read_csv('dateset/Salaries.csv', low_memory=False,index_col=False)

In [8]:
# look a head of data
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [12]:
# Looking a Missing Value (null, Nan Value)
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [13]:
# looking by column column 
# first looking dtypes in BsaePay

In [18]:
type(df['basepay'][0]) # str

str

In [16]:
# To easy work with columns can convert to lowercase
df.columns = [x.lower().strip() for x in df.columns]
df.columns

Index(['id', 'employeename', 'jobtitle', 'basepay', 'overtimepay', 'otherpay',
       'benefits', 'totalpay', 'totalpaybenefits', 'year', 'notes', 'agency',
       'status'],
      dtype='object')

In [19]:
df.dtypes

id                    int64
employeename         object
jobtitle             object
basepay              object
overtimepay          object
otherpay             object
benefits             object
totalpay            float64
totalpaybenefits    float64
year                  int64
notes               float64
agency               object
status               object
dtype: object

In [20]:
# looking in basepay columns data containeds
df['basepay'].head()

0    167411.18
1    155966.02
2    212739.13
3      77916.0
4     134401.6
Name: basepay, dtype: object

In [22]:
# can be convert data to float64
# can be use to_numeric
df['basepay'] = pd.to_numeric(df['basepay'], errors='coerce')
# looking a type basepay
df['basepay'].dtypes

dtype('float64')

In [24]:
# looking missing data in columns basepay
df['basepay'].isna().sum()

609

In [25]:
# now Ways to missing data
# can be Use Mean of data and use fillna data
# fist get mean columns 
df['basepay'].mean()

66325.44884050643

In [26]:
# looking a columns by decribe()
df['basepay'].describecribe()

count    148045.000000
mean      66325.448841
std       42764.635495
min        -166.010000
25%       33588.200000
50%       65007.450000
75%       94691.050000
max      319275.010000
Name: basepay, dtype: float64

In [27]:
# I Think mean is best ways to missing value 
df['basepay'] = df['basepay'].fillna(df['basepay'].mean())
# looking again missing data
df['basepay'].isnull().sum()

0

In [28]:
# zero mean not contains missing value

In [29]:
# looking a data columns again
df.isnull().sum()

id                       0
employeename             0
jobtitle                 0
basepay                  0
overtimepay              0
otherpay                 0
benefits             36159
totalpay                 0
totalpaybenefits         0
year                     0
notes               148654
agency                   0
status              110535
dtype: int64

In [30]:
# as advanved convert type of overtimepay,otherpay

In [33]:
df['overtimepay'] = pd.to_numeric(df['overtimepay'], errors='coerce')

In [34]:
df['otherpay'] = pd.to_numeric(df['otherpay'], errors='coerce')

In [35]:
# looking a type of data
df.dtypes

id                    int64
employeename         object
jobtitle             object
basepay             float64
overtimepay         float64
otherpay            float64
benefits             object
totalpay            float64
totalpaybenefits    float64
year                  int64
notes               float64
agency               object
status               object
dtype: object

In [38]:
# again convert type and missing value of benefits
type(df['benefits'])

float

In [39]:
# replace all nan to zero value

In [40]:
df['benefits'] = df['benefits'].fillna(0)
# look num missing value in columns 
df['benefits'].isnull().sum()

0

In [41]:
# now looking a type after missing value 
df['benefits'].dtypes

dtype('O')

In [43]:
# convert to float
df['benefits'] =  pd.to_numeric(df['benefits'], errors='coerce')

In [45]:
df['benefits'].dtypes

dtype('float64')

In [46]:
# good job, keep Missing value
df.isnull().sum()

id                       0
employeename             0
jobtitle                 0
basepay                  0
overtimepay              4
otherpay                 4
benefits                 4
totalpay                 0
totalpaybenefits         0
year                     0
notes               148654
agency                   0
status              110535
dtype: int64

In [48]:
# after convert to float colums 
df['overtimepay'].isnull().sum()

4

In [49]:
df['overtimepay'].describe()

count    148650.000000
mean       5066.059886
std       11454.380559
min          -0.010000
25%           0.000000
50%           0.000000
75%        4658.175000
max      245131.880000
Name: overtimepay, dtype: float64

In [50]:
df['overtimepay'] = df['overtimepay'].fillna(df['overtimepay'].mean())
df.isnull().sum()

id                       0
employeename             0
jobtitle                 0
basepay                  0
overtimepay              0
otherpay                 4
benefits                 4
totalpay                 0
totalpaybenefits         0
year                     0
notes               148654
agency                   0
status              110535
dtype: int64

In [53]:
# in benefits
df['benefits'] = df['benefits'].fillna(0)
df.isnull().sum()

id                       0
employeename             0
jobtitle                 0
basepay                  0
overtimepay              0
otherpay                 4
benefits                 0
totalpay                 0
totalpaybenefits         0
year                     0
notes               148654
agency                   0
status              110535
dtype: int64

In [54]:
# otherpay missing value 
df['otherpay'].describe()

count    148650.000000
mean       3648.767297
std        8056.601866
min       -7058.590000
25%           0.000000
50%         811.270000
75%        4236.065000
max      400184.250000
Name: otherpay, dtype: float64

In [55]:
df['otherpay'] = df['otherpay'].fillna(df['otherpay'].mean())
df.isnull().sum()

id                       0
employeename             0
jobtitle                 0
basepay                  0
overtimepay              0
otherpay                 0
benefits                 0
totalpay                 0
totalpaybenefits         0
year                     0
notes               148654
agency                   0
status              110535
dtype: int64

In [56]:
# looking a shape of data
df.shape

(148654, 13)

In [57]:
# all columns notes missing value, so remove this columns 
df = df.drop(columns='notes')

df.isnull().sum()

id                       0
employeename             0
jobtitle                 0
basepay                  0
overtimepay              0
otherpay                 0
benefits                 0
totalpay                 0
totalpaybenefits         0
year                     0
agency                   0
status              110535
dtype: int64

In [59]:
# now we finshed missing data in status
df['status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

In [63]:
# method in fillna
df['status'] = df['status'].fillna(method='bfill')
# looking data
df.isnull().sum()

id                  0
employeename        0
jobtitle            0
basepay             0
overtimepay         0
otherpay            0
benefits            0
totalpay            0
totalpaybenefits    0
year                0
agency              0
status              0
dtype: int64

In [64]:
# now looking dataframe
df.head()

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,agency,status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011,San Francisco,PT
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011,San Francisco,PT
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011,San Francisco,PT
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,0.0,332343.61,332343.61,2011,San Francisco,PT
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011,San Francisco,PT

In [66]:
# amaizing Job

In [67]:
# now answer some Questions on Data?