In [1]:
# import libaray to use project
import pandas as pd

In [2]:
# read data
df = pd.read_csv('dataset/WeatherData.csv')

# looking in heading data
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [3]:
# What shape of date
df.shape

(8784, 8)

In [4]:
# Columnns Cleans 
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [5]:
# data.index
df.index

RangeIndex(start=0, stop=8784, step=1)

In [6]:
# you have 8784 row in Dataframe

In [8]:
# What to datatype for all columns
# use atrributes dtypes
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [12]:
# unique() function to return uinque value for specfic columns
# for example columns name ="Weather"
df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [13]:
# nunique() => numuinque to return number of unique() for all columns
df.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [14]:
# for columns ?
df['Weather'].nunique()

50

In [15]:
# count to return nukber of not null value in columns
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [16]:
# not have any row contains null value

In [19]:
# value_counts => return number of unique value from columns
# for example columns Weather return count for all unique value in columns
df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Moderate Snow                                 4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Thunderstorms,Rain                            3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Moderate Snow,Blowing Snow                    2
Drizzle,Snow                                  2
Freezing Rain,Haze                            2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Heavy Rain Showers              1
Rain Showers,Fog                              1
Moderate Rain,Fog                             1
Snow Pellets                                  1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Freezing Rain,Ice Pellets,Fog                 1
Name: Weather, dtype: int64

In [21]:
# Function info showing information about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [24]:
# find all the unique 'Wind Speed_km/h' values in data? number => 34 number of unique value
df['Wind Speed_km/h'].nunique()

34

In [26]:
# Find The number of times when the Weather is exactly Clear
df[df['Weather'] == "Clear"]['Weather'].count()

1326

In [28]:
# value_counts
df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Moderate Snow                                 4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Thunderstorms,Rain                            3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Moderate Snow,Blowing Snow                    2
Drizzle,Snow                                  2
Freezing Rain,Haze                            2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Heavy Rain Showers              1
Rain Showers,Fog                              1
Moderate Rain,Fog                             1
Snow Pellets                                  1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Freezing Rain,Ice Pellets,Fog                 1
Name: Weather, dtype: int64

In [29]:
# Find the number of times when the "Wind Speed" equal 4 km/h
df[df['Wind Speed_km/h'] == 4].head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy

In [33]:
df[df['Wind Speed_km/h'] == 4]['Wind Speed_km/h'].count()

474

In [37]:
# Find out all null Value in data
df.isnull().sum() # return all null value in all coulumns

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [41]:
df[df.isnull()]['Weather'].count() # number of null value in Weather columns

0

In [42]:
# Rename columns Weather to 'WeatherCondtion'

df = df.rename(columns={"Weather":"WeatherCondtion"})

# lookgin columns
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'WeatherCondtion'],
      dtype='object')

In [43]:
# how to calcluate Mean Visiablity?
df['Visibility_km'].mean()

27.66444672131151

In [51]:
# Find all instance when Snow was recorded?
# looking in Snow 
df[df['WeatherCondtion'] == 'Snow']['WeatherCondtion'].count()

390

In [48]:
# other ways
df[df['WeatherCondtion'].str.contains('Snow')]['WeatherCondtion'].count()

583

In [52]:
df[df['WeatherCondtion'].str.contains('Snow')]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,WeatherCondtion
41,1/2/2012 17:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,1/2/2012 20:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,1/2/2012 21:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,1/2/2012 23:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,1/3/2012 0:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [53]:
# if return just Snow can equal is best by == , but any word just contain snow but not must equal use str.contains

In [54]:
# Find all instance in Wins Speed is above 24 km/h?

df[df['Wind Speed_km/h'] >= 24]['Wind Speed_km/h'].count()

1421

In [56]:
# looking in instance? first 10 row
df[df['Wind Speed_km/h'] >= 24].head(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,WeatherCondtion
22,1/1/2012 22:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
28,1/2/2012 4:00,2.9,-2.3,69,32,25.0,99.26,Mostly Cloudy
29,1/2/2012 5:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy
30,1/2/2012 6:00,2.3,-2.6,70,26,25.0,99.18,Mostly Cloudy
31,1/2/2012 7:00,2.0,-2.9,70,33,25.0,99.14,Mostly Cloudy

In [60]:
# in Wind Speed in above 24 get a max Relative_humidity columns and Min?
# first Max
print("Max in Relative Humidity is {}".format(df[df['Wind Speed_km/h'] >= 24]['Rel Hum_%'].max()))
print("Min in Relative Humidity is {}".format(df[df['Wind Speed_km/h'] >= 24]['Rel Hum_%'].min()))

Max in Relative Humidity is 97
Min in Relative Humidity is 21