In [2]:
# first import libaray
%matplotlib notebook
import pandas as pd 
import matplotlib.pyplot as plt

In [29]:
# reading file
df = pd.read_csv('dateset/ram_price.csv',index_col=0)
df.head()

     date        price
0  1957.0  411041792.0
1  1959.0   67947725.0
2  1960.0    5242880.0
3  1965.0    2642412.0
4  1970.0     734003.0

In [30]:
# get shape 
df.shape

(333, 2)

In [31]:
# get min and max
type(df['date'][0])

numpy.float64

In [32]:
# convert column date to int32
import numpy as np
df['date'] = df['date'].astype(np.int32)

In [33]:
type(df['date'].iloc[0])

numpy.int32

In [34]:
df['date'].iloc[0]

1957

In [35]:
# get min and max
print('max {}'.format(df['date'].max()))
print('min {}'.format(df['date'].min()))

max 2015
min 1957