In [1]:
# import libaray to use project
import pandas as pd

In [18]:
# reading data
df = pd.read_csv("dateset/PoliceData.csv")

# looking a heading data
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
# Cleaing Data
# Remove all Columns Contains Missing Data

In [19]:
# first looking number of row and columns
df.shape

(65535, 15)

In [5]:
# records equal : 65535, and 15 columns

In [20]:
df.isna().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [23]:
# columsn County_name all records is null, not needed columns => remove this 
df = df.drop(columns='country_name')

In [24]:
df.shape # 14 columns

(65535, 14)

In [25]:
# Columns Type of is number not String can Use fillna by Mean
for col in df.columns:
    print("COlumns Name: {} and Type: {}".format(col,df[col].dtype))

COlumns Name: stop_date and Type: object
COlumns Name: stop_time and Type: object
COlumns Name: driver_gender and Type: object
COlumns Name: driver_age_raw and Type: float64
COlumns Name: driver_age and Type: float64
COlumns Name: driver_race and Type: object
COlumns Name: violation_raw and Type: object
COlumns Name: violation and Type: object
COlumns Name: search_conducted and Type: bool
COlumns Name: search_type and Type: object
COlumns Name: stop_outcome and Type: object
COlumns Name: is_arrested and Type: object
COlumns Name: stop_duration and Type: object
COlumns Name: drugs_related_stop and Type: bool

In [26]:
# to easy remove by dropna for all columns contains null value 
df = df.dropna()

# looking a shape dataframe
# last is 65530
df.shape

(2477, 14)

In [28]:
# return just 2477 record not contains null value
# for check 
df.isnull().sum()
# zero for all

stop_date             0
stop_time             0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

In [39]:
# For Sppeding in violation and violation_raw columns, male Or Female Stoped more offten? tow is same

In [40]:
# Use value_counts

print(df[df['violation'] == "Speeding"]['driver_gender'].value_counts())

M    693
F    102
Name: driver_gender, dtype: int64

In [44]:
# dose gender affect who gets searched during a stop?
df.groupby('driver_gender')['search_conducted'].sum()

driver_gender
F     366
M    2111
Name: search_conducted, dtype: int64

In [47]:
# by others ways
df.groupby('search_conducted')['driver_gender'].value_counts()

search_conducted  driver_gender
True              M                2111
                  F                 366
Name: driver_gender, dtype: int64

In [48]:
# looking a heading stop during
df['stop_duration'].head()

24     16-30 Min
40     16-30 Min
41       30+ Min
80       30+ Min
106    16-30 Min
Name: stop_duration, dtype: object

In [49]:
# return a unique value 
df['stop_duration'].unique()

array(['16-30 Min', '30+ Min', '0-15 Min'], dtype=object)

In [50]:
df['stop_duration'].value_counts()

16-30 Min    1123
30+ Min       740
0-15 Min      614
Name: stop_duration, dtype: int64

In [51]:
# repalce value and chanfe type to float 
# 0- 15 =>  7.5
#  15 - 30 => 22.5
# more than 30 => 45
# can be use if else or map({'old Value' : 'new Value'})
df['stop_duration'] = df['stop_duration'].map({"0-15 Min":7.5,"16-30 Min" : 22.5, "30+ Min": 45})

# looking a new value df['stop_suration']
df['stop_duration'].unique()

array([22.5, 45. ,  7.5])

In [52]:
# now Can be Calcluate mean for columns 
"Mean for stop duration is: {} ".format(df['stop_duration'].mean())

'Mean for stop duration is: 25.503633427533305 '

In [53]:
# Compare the age distribuation for all violation?
# can be use describe function?

In [57]:
df.groupby('violation')['driver_age'].describe()

                     count       mean        std   min   25%   50%   75%   max
violation
Equipment            539.0  29.254174   9.568786  16.0  22.0  26.0  34.0  70.0
Moving violation     690.0  32.221739  11.302226  15.0  23.0  29.0  40.0  79.0
Other                164.0  33.073171  11.775279  17.0  23.0  30.0  42.0  65.0
Registration/plates  289.0  31.387543  10.667415  16.0  23.0  29.0  37.0  65.0
Speeding             795.0  29.134591   9.405944  17.0  22.0  26.0  33.0  68.0